# Dependencies
node_modules/

# Local env files
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# BigQuery migrated data / local database configs
users.json
users.json.migrated
